.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
  text-align: right;
}
.notes-month {
  font-size: 20px;
  text-align: right;
}
.notes-month section {
  font-size: 20px;
}
.ant-picker-panel{
  overflow-x: scroll;
}
.ant-picker-date-panel, .ant-picker-month-panel{
  min-width: 600px
}